@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: #101318;
}

header {
    max-width: 900px;
    margin: 20px auto;

    .tag-input {
        display: flex;
        position: relative;

        input {
            background: #282D39;
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 3px;
            outline: none;
            padding-left: 10px;
            font-family: Manrope;
            color: #fff;

            &::placeholder {
                padding-left: 30px;
                color: #fff;
                opacity: 0.7;
                transition: .3s ease-in-out;
            }
        }

        &>input:focus {
            &::placeholder {
                padding-left: 0px;
            }
        }

        input:focus~.icon {
            opacity: 0;
        }

        input:not(:placeholder-shown)~.icon {
            opacity: 0;
        }

        .btn-submit {
            cursor: pointer;
            height: 40px;
            min-width: 100px;
            background: linear-gradient(99.09deg, #51B2FF 0%, #2672DA 100%);
            box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
            display: grid;
            place-items: center;

            svg {
                fill: #fff;
                width: 16px;
            }
        }

        .icon {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 40px;
            display: grid;
            place-items: center;
            transition: .3s ease-in-out;

            svg {
                width: 16px;
                fill: #fff;
                opacity: 0.7;
            }
        }
    }
}

main {
    max-width: 900px;
    margin: 0 auto;
    font-family: Manrope;

    .title {
        color: #fff;
        font-size: 15px;
        opacity: .5;
        margin: 10px 0;
        display: flex;
        align-items: center;

        .icon {
            width: 15px;
            margin-right: 10px;
            display: grid;
            place-items: center;

            svg {
                fill: #fff;
            }
        }
    }

    .block-tag {
        ul {
            display: flex;
            min-height: 40px;
            flex-wrap: wrap;
            gap: 10px;

            li.finded{
                background: #2A77DD;
            }

            li.locked {
                .icon-lock {
                    display: grid;
                }
            }

            li.tag-placeholder {
                background: #282D39;
                border: none;
            }

            li.ui-sortable-helper {
                background: #94B3DC;
                border: none;
                transform: rotate(-7deg);

                .icon-move {
                    display: block;
                }
            }

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                border-radius: 3px;
                color: #fff;
                padding: 0 20px;
                height: 40px;
                font-size: 13px;
                cursor: pointer;

                .icon-lock {
                    display: none;
                    position: absolute;
                    top: -15px;
                    left: -14px;
                    width: 25px;
                    height: 25px;
                    place-items: center;
                    border-radius: 50%;

                    &:hover{
                        background: linear-gradient(99.09deg, #51B2FF 0%, #2672DA 100%);
                    }

                    svg {
                        width: 8px;
                        fill: #fff;
                    }
                }

                .icon-move {
                    display: none;
                    position: absolute;
                    right: -5px;
                    top: -10px;

                    svg {
                        width: 10px;
                        fill: #fff;
                    }
                }

                &:not(.locked):not(.ui-sortable-helper):hover > .icon-remove{
                    max-width: 20px;
                    margin-left: 10px;
                }

                .icon-remove{
                    width: 20px;
                    max-width: 0px;
                    overflow: hidden;
                    height: 20px;
                    display: grid;
                    place-items: center;
                    margin-left: 0px;
                    transition: .3s ease-in-out;
                    svg{
                        width: 14px;
                        fill: #fff;
                    }
                }

                &:hover{
                    .icon-lock{
                        display: grid;
                    }
                }
            }


        }

        ul.search-tag{
            li{
                opacity: .5;
            }
        }

        ul {
            li.finded{
                opacity: 1;
            }
        }

        .main-tag {
            li {
                border: 1px solid #2A77DD;
            }

            li:hover {
                background: #2A77DD;
            }
        }

        .compl-tag {
            li {
                border: 1px solid #94B3DC;
            }

            li:hover {
                background: #94B3DC;
            }
        }
    }
}

footer {
    max-width: 900px;
    margin: 0 auto;
    font-family: Manrope;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info-words {
        display: flex;
        align-items: center;

        .count {
            display: flex;
            color: #fff;
        }

        .text-content {
            font-size: 14px;
            color: #fff;
            opacity: .5;
            margin-left: 10px;
            font-size: 14px;
        }
    }

    .btn-submit {
        display: grid;
        place-items: center;
        height: 40px;
        width: 100px;
        cursor: pointer;
        background: linear-gradient(99.09deg, #51B2FF 0%, #2672DA 100%);
        border-radius: 3px;

        svg {
            fill: #fff;
            width: 16px;
        }
    }
}

@media screen and (max-width: 900px) {
    header{
        margin: 20px;
    }
    main{
        margin: 20px;
    }
    footer{
        margin: 20px;
    }
}

@import './windowed';
@import './window/update';